# Copyright (C) 2022-2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0

# Audio
service vendor.audio-hal /vendor/bin/hw/android.hardware.audio.service
    override
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct oem_2901 wakelock oem_2912 system
    capabilities BLOCK_SUSPEND SYS_NICE
    # setting RLIMIT_RTPRIO allows binder RT priority inheritance
    rlimit rtprio 10 10
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    onrestart restart audioserver

# Euicc
on post-fs && property:ro.boot.hwc=CN
    # Remove euicc on CN Variant
    mount none /dev/null /product/etc/permissions/privapp-permissions-euiccgoogle.xml bind
    mount none /dev/null /product/etc/permissions/android.hardware.telephony.euicc.xml bind
    mount none /dev/null /product/priv-app/EuiccGoogle/EuiccGoogle.apk bind
    mount none /dev/null /product/app/XiaomiEuicc/XiaomiEuicc.apk bind

# Remove Openeuicc on CN Variant
    mount none /dev/null /system_ext/etc/permissions/privapp_whitelist_im.angry.openeuicc.xml bind
    mount none /dev/null /system_ext/priv-app/OpenEUICC/OpenEUICC.apk bind
    
# Connection Security
service ssgqmigd /vendor/bin/ssgqmigd64
    override
    class late_start
    user radio
    group radio gps system
    socket ssgqmig seqpacket 0660 radio inet

# Thermal
on property:vendor.post_boot.parsed=1
    # Set default thermal profile
    write /sys/class/thermal/thermal_message/sconfig 0

# Touchscreen
on boot
    chown system system /sys/class/touch/touch_dev/fod_longpress_gesture_enabled
    chown system system /sys/class/touch/touch_dev/gesture_double_tap_enabled
    chown system system /sys/class/touch/touch_dev/gesture_single_tap_enabled
    chmod 0660 /sys/class/touch/touch_dev/fod_longpress_gesture_enabled
    chmod 0664 /sys/class/touch/touch_dev/gesture_double_tap_enabled
    chmod 0664 /sys/class/touch/touch_dev/gesture_single_tap_enabled